.main-grid {
    
    margin-top: 135px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*height: 1280px;*/
    width: 100%;
    column-gap: 10px;
    padding-bottom: 20PX;
    
    Background-color: pink;
    z-index: 1;
}

.section-title {
    margin-top: 0px;
    font-size: 25px;
    padding-top: 25px;

}

.vids {
    position: relative;
    padding-left: 1px;
    flex: 1;
    flex-direction: column;
    height: 680px;
    width: 250px;
    background-color: rgb(67, 145, 171, 0.4);
    z-index: 50;
    overflow: scroll;
}

.vid-border {
    border-color: rgb(95, 95, 95);
    border-width: 1px;
    border-style: solid;
    margin-top: 6px;
    margin-right: 6px;
    transition: all 0.5s;
}

.vid-border:hover {
    background-color: rgb(186, 186, 186, 0.4);
}

.vid-title {
    margin-top: 6px;
    margin-bottom: 2px;
    margin-left: 10px;
    color: rgb(92, 17, 17);
    font-size: 20px;
}
/*Oh I am good*/
.vid-border:hover .vid-title {
    color: black;
}

.youtube-container {
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    background-color: white;
    opacity: .9;
}

.youtubeIcon {
    flex: 150px;
    height: 38px;
}

.bf-link {
    flex: 120px;
    Margin-top: 6px;
    padding-right: 10px;
    padding-left: 5px;
    font-size: 23px;
    Border-radius: 5px;
}

.ut-thumbnail {
    width: 190px;
    padding-left: 10px;
}
/*Oh I am good*/
.vid-border:hover .ut-thumbnail {
    width: 200px;
    /*padding-left: 10px;*/
}

.keepingrelative {
    position: relative;
}

.philippines {
    position: absolote;
    display: block;
    width: 1fr;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: rgb(67, 145, 171, 0.4);
    z-index: 50;
}

.movies {
    position: relative;
    flex: 1;
    flex-direction: column;
    /*height: 230px;*/
    width: 1fr;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: rgb(67, 145, 171, 0.4);
    z-index: 50;
}

.music {
    position: relative;
    flex: 1;
    flex-direction: column;
    /*height: 230px;*/
    width: 1fr;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: rgb(67, 145, 171, 0.4);
    z-index: 50;
}

.food {
    position: relative;
    flex: 1;
    flex-direction: column;
    /*height: 230px;*/
    width: 1fr;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: rgb(67, 145, 171, 0.4);
    z-index: 50;
}

.following {
    position: relative;
    flex: 1;
    flex-direction: column;
    /*height: 230px;*/
    width: 1fr;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: rgb(67, 145, 171, 0.4);
    z-index: 50;
}

.program {
    position: relative;
    flex: 1;
    flex-direction: column;
    /*height: 230px;*/
    width: 1fr;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: rgb(67, 145, 171, 0.4);
    z-index: 50;
}
