.header {
    background-color: rgb(67, 145, 171, 0.4);
    border-bottom-width: 1px;
    border-bottom-style: solid; 
    border-bottom-color: rgb(67, 145, 171);

    height: 125px;
    width: 100%;
  
    display: flex;
    /*flex-direction: row;*/
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; 
}
  
.left-section {
    display: flex 1fr;
    align-items: center;    
}

.middle-section {
    display: block;
    flex: 1;
    height: 120;
    align-items: center;
    justify-content: center;
    /*background-color: pink;*/
}

/*this is for the 1 beer films title in the center*/
.title-menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    /*background-color: blue;*/
}

.middle-title {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    Color: white;
    background-color: Black;
    border: solid;
    border-color: goldenrod;
    border-width: 1px;
    border-radius: 25px;
}

.title {
    font-family: 'Cinzel', serif;
    font-weight: 300;
    font-style: normal;
    justify-items: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
    
}
/*This is the end of the code for the 1 beer film title in th middle*/

/*This is the begining for the code for the menu bar*/
.menu-bar {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 40px;
    color: red;
    
}

.menu-bar ul {
    list-style: none;
    /*display: inline-flex;*/
    margin: 0;
    padding: 0;
 
    
    
   }

.menu-bar ul li {
    /*padding: 0px 30px;*/
    /*position: relative;*/
    float: left;
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, .75);
    /*opacity: 0.75;*/
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
    border-radius: 20px;
}

.menu-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    display: block;
    transition: all 0.3s;
}

.menu-bar ul li a:hover {
    background-color: rgb(0, 0, 255, 0.5);
}

.photo-dropdown {
    display: none;
}

.photo-dropdown a{
    height: 40px;
    width: 150px;
    background: rgba(0, 0, 0, .75);
    border-radius: 20px;
    cursor: pointer;
}

.menu-bar ul li:hover .photo-dropdown {
    display: block;
}

.photo-dropdown .menuItem1{
    font-size: 18px;
}
.photo-dropdown .menuItem2{
    margin-top: 2px;
    font-size: 18px;
}
.photo-dropdown .menuItem3{
    margin-top: 2px;
    font-size: 18px;
}
.photo-dropdown .menuItem4{
    margin-top: 2px;
    font-size: 18px;
}
.photo-dropdown .menuItem5{
    margin-top: 2px;
    font-size: 18px;
}


.container{
    height: 60vh;
    width: 30vh;
    position: absolute;
    top: 46vh;
    left: 120vh;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    /* background-color: blue; */
}

.food{
    width: 100%;
}

.hidden {
    width: 100%;
}

.family{
    width: 100%;
}

.freind{
    width: 100%;
}

.misc {
    width: 100%;
}

.box{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: 100px;
    /* transform: rotateY(-180deg); */
    transform-style: preserve-3d;
    animation: animate 5s infinite;
}

@keyframes animate {
    0%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50%{
        transform: rotateX(45deg) rotateY(45deg);
    }
    75%{
        transform: rotateX(-45deg) rotateY(45deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
}

.card{
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*text-align: center;
    padding: 100px 0px;*/
    color: white;
    background: black;
    border: 2px solid white;

    font-size: 32px;
    box-sizing: border-box;
    position: absolute;
    transition: all 1s;
}
/* hashtage is an 'id' selector */
#front{
    transform: translateZ(125px);
}
#back{
    transform: translateZ(-125px);
}

#left{
    right: 125px;
    transform: rotateY(-90deg);
}

#right{
    left: 125px;
    transform: rotateY(90deg);
}

#top{
    bottom: 125px;
    transform: rotateX(90deg);
}

#bottom{
    top: 125px;
    transform: rotateX(-90deg);
}


.menuItem1:hover~ .container .box #front {
    transform: translateZ(180px) rotateY(360deg);
}

.menuItem2:hover~ .container .box #left {
    transform: translateZ(180px) rotateY(360deg);
    right: 50px;
}

.menuItem3:hover~ .container .box #right {
    transform: translateZ(180px) rotateY(360deg);
    left: 50px;
}

.menuItem4:hover~ .container .box #bottom {
    transform: translateZ(180px) rotateY(360deg);
    top: 50px;
}

.menuItem5:hover~ .container .box #front{
    transform: translateZ(180px) rotateY(360deg);

}
.menuItem5:hover~ .container .box #back{
    transform: translateZ(-180px) rotateY(360deg);

}
.menuItem5:hover~ .container .box #left{
    right: 180px;
}
.menuItem5:hover~ .container .box #right{
    left: 180px

}
.menuItem5:hover~ .container .box #top{
    bottom: 180px;

}
.menuItem5:hover~ .container .box #bottom{
    top: 180px;

}

/* Right Section of Header */

.right-section {
    display: flex 1fr;
    align-items: center;
}

.beer-logo {
    height: 125px;
    border-radius: 62.5px;
}
